
.square {
   position: relative;
   width: 100%;
   border-style: groove;
   // background-color: ;
   cursor: pointer;
}

.square:after {
   content: "";
   display: block;
   padding-bottom: 100%;
}
 
.content {
   position: absolute;
   width: 100%;
   height: 100%;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   line-height: 8vw;
   font-size: 5vw;
   // font-size: 0vmax  ;
}

.avoid-clicks {
   pointer-events: none;
   background: darkslategray;
 }